.hello {
  position: absolute;
  top: 60.3%;
  left: 37%;
  font-size: 25px;
  width: 400px;
  font-family: "Inconsolata", consolas;
  color: #94a4b4;
}
@media screen and (min-width: 1620px) and (max-device-width: 1920px) {
  .hello {
    top: 60%;
    left: 40%;
  }
}
@media only screen and (min-width: 321px) and (max-device-width: 768px) {
  .hello {
    width: 200px;
    word-break: break-all;
    font-size: 13px;
    top: 60%;
    left: 30%;
  }
}
