.header {
  font-size: 4rem;
  color: #fff;
  letter-spacing: 2px;
}

.header,
.sub {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sub {
  font-family: Inconsolata, sans-serif;
  font-size: 1.6rem;
  color: #94a4b4;
  display: inline-block;
  margin: 1.2rem 0;
  line-height: 1.5;
}

.thumbnail-portfolio-grid {
  margin-top: 20px;
}
