.portfolio-main {
  color: #fff;
  font-family: "Inconsolata", sans-serif;
}

.header {
  font-size: 40px;
  color: #97bfd3;
  letter-spacing: 2px;
  display: inline-block;
}

.header,
.sub {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.thumbnail-portfolio-grid {
  margin-top: 20px;
}
