.navigation-checkbox {
  display: none;
}

.navigation-button {
  position: fixed;
  top: 3rem;
  right: 4rem;
  z-index: 1000;
  width: 62px;
  height: 37.5px;
  cursor: pointer;
}

.navigation-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #94a4b4;
  vertical-align: middle;
  margin-top: 2px;
}

.navigation-line:first-child,
.navigation-line:nth-child(3) {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.5s ease-in;
  transform-origin: 20% 50.5%;
}

.navigation-line:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.5s ease-in;
}

.navigation-checkbox:checked + .navigatio-button {
  transform: scale(1.4);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation-checkbox:checked + .navigation-button .navigation-line:first-child {
  transform: rotate(45deg);
}
.navigation-checkbox:checked
  + .navigation-button
  .navigation-line:nth-child(3) {
  transform: rotate(-45deg);
}

.navigation-checkbox:checked
  + .navigation-button
  .navigation-line:nth-child(2) {
  transform: scale(0);
}

.navigation-checkbox:checked + .navigation-button .navigation-line {
  background-color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.5s ease-out;
}
/* .navigation-button:hover {
  transform: scale(1.2);
} */
.navigation-checkbox:checked + .navigation-button:hover {
  /* -webkit-transform: scale(1.6); */
  transform: scale(1.2);
}

@media only screen and (min-width: 120em) {
  .navigation-button {
    width: 6.2rem;
  }
}

@media only screen and (min-width: 100em) {
  .navigation__line:first-child,
  .navigation__line:nth-child(3) {
    -webkit-transform-origin: 20.5% 50%;
    transform-origin: 20.5% 50%;
  }
}
