.navigation-checkbox {
  display: none;
}
input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: #fff;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.navigation-button {
  position: fixed;
  z-index: 1000;
  width: 3.8rem;
  cursor: pointer;
}

.navigation-line {
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #94a4b4;
  vertical-align: middle;
  margin: auto;
}

.navigation-line:first-child,
.navigation-line:nth-child(3) {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.5s ease-in;
  transform-origin: 0% 50%;
}

.navigation-button:hover .navigation-line:first-child {
  transform: translateY(-0.4rem);
}

.navigation-button:hover .navigation-line:nth-child(3) {
  transform: translateY(0.4rem);
}

.navigation-line:nth-child(2) {
  transition: all 0.3s ease-out, background-color 0.3s ease-in-out;
}

.navigation-checkbox:checked + .navigatio-button {
  transform: scale(1.4);
  transition: all 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation-checkbox:checked + .navigation-button .navigation-line:first-child {
  transform: rotate(45deg);
}
.navigation-checkbox:checked
  + .navigation-button
  .navigation-line:nth-child(3) {
  transform: rotate(-45deg);
}

.navigation-checkbox:checked
  + .navigation-button
  .navigation-line:nth-child(2) {
  transform: scale(0);
  transition: all 0s ease-in;
}

.navigation-checkbox:checked + .navigation-button .navigation-line {
  background-color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.5s ease-out;
}

.navigation-checkbox:checked + .navigation-button:hover {
  transform: scale(1.2);
}
.navigation-line:first-child,
.navigation-line:nth-child(3) {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.5s ease-in;
  transform-origin: 0% 50%;
}

.navigation-button {
  width: 80px;
}

/* ------------------------------------------- */

.navigation-nav {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  background: #343a41;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  cursor: default;
}

.container .navigation-checkbox:checked ~ .navigation-nav {
  visibility: visible;
  height: 100%;
  transform: scale(0.5) 2s;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.navigation-list {
  list-style: none;
  width: 45rem;
  margin: auto;
  font-family: consolas;
}

.navigation-item {
  width: 100%;
}

.navigation-link:link,
.navigation-link:visited {
  width: 100%;
  padding: 1rem 0;
  display: block;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  background: #31363b;
}
.navigation-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #252a2e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-link:active:before,
.navigation-link:focus:before,
.navigation-link:hover:before {
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navigation-link span {
  position: relative;
  font-size: 1.3em;
}

@media screen and (max-width: 1920px) {
  .navigation-checkbox:checked + .navigation-button .navigation-line {
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-color 0.5s ease-out;
  }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 768px) {
  .navigation-button {
    width: 80px;
    padding: 0px;
  }

  .navigation-line:first-child,
  .navigation-line:nth-child(3) {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-color 0.5s ease-in;
    transform-origin: 7% 50%;
  }
  .navigation-list {
    width: 20rem;
    margin-left: -30px;
    margin-right: 10px;
  }

  .navigation-item {
    width: 100%;
  }
}
