.contactList {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  width: 250px;
  padding: 13.5px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.contactItem {
  background: #ff9a02;
  list-style: none;
  width: 130px;
  height: 48px;
  padding: 15px;
  display: block;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 2px;
}
.contactItem:hover {
  width: 250px;
  border-radius: 3px;
}

.contactLink {
  text-decoration: none;
  color: black;
}

.linkedin {
  background-color: #0077b5;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.github {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.email {
  background-color: #6fc2b0;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.resume {
  background-color: #565f69;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.text {
  align-self: center;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-family: consolas;
  font-size: 1.1em;
}

.svg {
  align-self: flex-end;
}
