.logo-tilt img {
  height: auto;
  width: 300px;
  cursor: pointer;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logo-tilt img {
    width: 300px;
  }
}

@media only screen and (min-width: 321px) and (max-device-width: 768px) {
  .logo-tilt img {
    width: 200px;
  }
}
