.footer {
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  padding: 3rem;
  background: #171a1d;
  color: #94a4b4;
  font-size: 1rem;
  text-align: center;
  font-family: consolas, sans-serif;
  border-top: 1px solid #343a41;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.footer-item {
  display: inline-block;
}

.footer-contact {
  display: inline-block;
}

.footer-link:link,
.footer-link:visited {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 92.96%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer {
    bottom: -30%;
  }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 768px) {
  .footer {
    bottom: -40%;
    width: 72.96%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
