*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #22262a;
}

.App {
  background-color: #22262a;
  display: flex;
  justify-content: center;
}

.containerProfile {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerButton {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerContact {
  position: absolute;
  top: 40%;
  left: 1.5%;
  transform: translate(-50%, -50%);
}

.containerNavigation {
  position: fixed;
  top: 2.3%;
  right: 2.3%;
  z-index: 1000;
  width: 4.2em;
  cursor: pointer;
}
.containerPortfolio {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: #171a1d;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #97bfd3;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #171a1d;
  border-radius: 3px;
}

@media screen and (min-width: 1400px) {
  .containerContact {
    position: absolute;
    top: 40%;
    left: 1%;
    transform: translate(-50%, -50%);
  }
  .containerNavigation {
    position: fixed;
    top: 3.3%;
    right: 3.3%;
    z-index: 1000;
    width: 4.2em;
    cursor: pointer;
  }
  .containerButton {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
