body {
  background-color: #22262a;
}
.container {
  display: flex;
  justify-content: center;
}

.containerProfile {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerButton {
  position: absolute;
  top: 71%;
  left: 48.5%;
  transform: translate(-20%, -20%);
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
