body {
  background-color: #22262a;
}

.App {
  background-color: #22262a;
  display: flex;
  justify-content: center;
}

.containerProfile {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerButton {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerContact {
  position: absolute;
  top: 44%;
  left: 1.5%;
  transform: translate(-50%, -50%);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
